main
main.manifest
*.manifest.sgx
*.sig
*.token

libgcrypt
libgcrypt-1.6.3/
libgcrypt-1.7.5/

gdb_page_trace.txt
gdb_page_count.txt

measurements.txt
measurements_raw.txt
measurements_parsed.txt

parse.py
